@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Photo Upload Platform</h1>
    <p>Here you can upload any Picture </p>
</div>
